
/* Body */

body{
   background-color: black;
}
@keyframes responsiveAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) { 
  * {
    transition: all 0.3s ease-in-out; 
  }
}


/* Navbar */
.container{
  max-width: 90%;
}

.logo-title {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
  font-weight: 530;
  letter-spacing: 1px;
  font-style: normal;
  margin-top: 10px;
}


.image {
  width: 70px;
  z-index: 1;
  height: auto;
  border-radius: 50%;
  margin-right: 20px;
}

.switch {
  position: relative;
  margin-right: 10px;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition:.4s;
  transition:.4s;
  padding-top: 20px;
}

.slider:before {
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 20px;
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition:.4s;
  transition:.4s;
}

input:not(:checked) +.slider:before {
  content: '\f186'; /* moon icon */
  margin-left: 5px;
  margin-bottom: 1px;
  color: black;
}

input:checked +.slider:before {
  content: '\f185'; /* sun icon */
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  color: white;
  border: 1px solid black;
  font-size: 19px;
  margin-left: 7px;
}

input:checked +.slider {
  background-color: #000000;
  border: 1px solid white;
}

input:focus +.slider {
  box-shadow: 0 0 1px #2196F3;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Navbar End */

/* <Body part> */
/* Home page Styling */

.content-title{
  margin-top: 19%;
  font-family: "Josefin Sans", sans-serif;
}

.content-title p{
  margin-top: 10px;
}

/* Type Writer */
.Typewriter {
  display: inline-block; 
}

.Typewriter .Typewriter__cursor {
  display: none; 
}


/* Spinner */
.spinner img{
  width: 110px; 
  height: 110px;
  animation: spin 1s linear infinite; 
  border-radius: 50%;
}


.spinner-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  position: fixed;         
  top: 0;                  
  left: 0;                 
  width: 100vw;            
  height: 100vh;           
  z-index: 9999;           
  font-size: 30px;
}

/* Keyframes for spinning animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* AddNote Page styling */

.mini-container{
  margin-left: 30%;
  margin-right: 30%;
}

.card{
    padding: 50px; 
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);
}
.small-heading {
  margin-left: 80%;
}
.small-heading:hover{
  color: red;
}
 
.Alert{
  height: 10px;
}

.buttons{
  position: absolute;
  margin-top: -40px;
  margin-left: 30%;
  margin-right: 30%;
}


/* Showing Notes */

.notes {
  border: 2px solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 0;
}

.pagenumber{
  position: absolute;
  margin-left: -40px;
  margin-top: 15px;
  font-size: 30px;
}

.content{
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: -10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
